@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';
@import '../../styles/spacing.scss';

.language-selector {
    display: inline-flex;
    align-items: center;
    background-color: #F1F1F4;
    border-radius: 36px;
    cursor: pointer;
    @extend .pl-4;
    @extend .pr-8;
    @extend .pt-4;
    @extend .pb-4;
}

.icon-country-indonesia {
    background: url('../../assets/icons/ico_ind.svg');
    height: 20px;
    width: 20px;
}

.icon-country-us {
    background: url('../../assets/icons/ico_en_usa.svg');
    height: 20px;
    width: 20px;
}

.chevron-right {
    background: url('../../assets/icons/ico_chevron_right.svg');
    height: 12px;
    width: 12px;
}
