@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

input[type="radio"] {
  -webkit-appearance: none;
  appearance: none;
  @extend .bg-white;
  width: 20px;
  height: 20px;
  border: 2px solid #001A41;
  border-radius: 40px;
  display: grid;
  place-content: center;
  padding: 2px;

  &:checked {
    @extend .borderStroke-info02;
  }
}

input[type="radio"]::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 40px;
}

input[type="radio"]:checked::before {
  @extend .semantic-info500;
  width: 12px;
  height: 12px;
}

input[type="radio"]:disabled {
  opacity: .5;
}

input[type="radio"]:hover {
    @extend .borderStroke-info02;
}

.container-radio {
  position: relative;
  display: block;
}

.container-radio input {
  position: absolute;
  top: 50%;
  margin: 0;
  transform: translateY(-50%);
}

.container-radio label {
  cursor: pointer;
  position: relative;
  padding-left: 32px;
  padding-right: 20px;
}

/* ripple
 */
.container-radio label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  margin-left: -10px;
  margin-top: -9px;
  @extend .semantic-info500;
  border-radius: 100%;
  opacity: .15;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes rippleDuplicate {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.container-radio input + label:after {
  animation: ripple 1s ease-out;
}

/* to re-trigger the animation with just CSS, we need to duplicate the keyframes
 */
.container-radio input:checked + label:after {
  animation-name: rippleDuplicate;
}

/* fixes initial animation run, without user input, on page load.
 */
.container-radio + label:after {
  visibility: hidden;
}

.container-radio input:focus + label:after {
  visibility: visible;
}
