@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

input[type=number] {
  height: 40px;
  width: 40px;
  text-align: center;
  border: 1px solid #CCCFD3;
  border-radius: 8px;

  &.error {
    @extend .borderStroke-error02;
  }
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}