@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.icon-button-tsel { 
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 94px;
    padding: 12px;

    &:disabled {
        border: transparent;
        @extend .bg-disable02;
    }
}


.icon-button-tsel-primary {
    @extend .bg-primary;

    &:hover:enabled {
        @extend .semantic-error600;
        @extend .text-error;    
    }
}

.icon-button-tsel-secondary {
    border: 2px solid #ED0226;
    @extend .bg-white;

    &:hover:enabled {
        border: 2px solid #BC1D42;
    }

}

.icon-calendar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 24px;
    width: 24px;
}