@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';
@import '../../styles/shadow.scss';

.btn-tsel-floating-icon {
    width: 90px;
    height: 90px;
    padding: 24px;
    @extend .bg-primary;
    border-radius: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    @extend .tsel_shadow;

    &:hover:enabled {
        @extend .semantic-error600;
    }

    &:focus:enabled {
        @extend .bg-primary;
    }
}

.floating-badge {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    @extend .bg-white;
    @extend .text-tritary;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 62px;
    @extend .tsel_shadow;
}

.container {
    width: 100%;
    height: auto;
    padding: 16px;
    display: flex;
    flex-direction: column;
    @extend .bg-white;
}
