@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.chips-tsel {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    transition: 400ms;
    padding: 12px 16px;
    gap: 4px;
    border-width: 1px;
    border-radius: 8px;
    @extend .text-primary;
    @extend .borderStroke-primary;

    &:disabled {
        border-color: transparent;
        border-width: 1px;
        @extend .bg-disable02;
        @extend .text-disable;
    }

    &:hover:enabled {
        @extend .bg-disable01;
    }

    &.selected {
        @extend .bg-info;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
    }
}

.chips-icon-tsel {
    width: 20px;
    height: 20px;
}

.ripple-primary {
    position: absolute;
    width: 12px;
    height: 12px;
    animation-name: ripple-primary;
    animation-duration: 1s;
    opacity: 0;
    border-radius: 50%;
}

@keyframes ripple-primary {
    0% {
        opacity: 1;
        transform: scale(0);
        background: linear-gradient(90deg, #E9F6FF 0.48%, rgba(185, 0, 36, 0) 100.45%);
    }

    100% {
        opacity: 0;
        transform: scale(100);
        background: linear-gradient(90deg, #E9F6FF 0.48%, rgba(185, 0, 36, 0) 100.45%);
    }
}