/* brand color */
.tsel-primary {
    background-color: #ff0025;
}

.tsel-secondary {
    background-color: #001a41;
}

/* background color */
.bg-primary {
    background-color: #ed0226;
}

.bg-secondary {
    background-color: #001a41;
}

.bg-disable01 {
    background-color: #f1f1f4;
}

.bg-warm {
    background-color: #f6f3f3;
}

.bg-valid {
    background-color: #edfcf0;
}

.bg-info {
    background-color: #e9f6ff;
}

.bg-error {
    background-color: #fdddd4;
}

.bg-warning {
    background-color: #fef3d4;
}

.bg-disable02 {
    background-color: #e9e8ed;
}

.bg-white {
    background-color: #ffffff;
}

.bg-gradient-primary {
    background: linear-gradient(90deg, #ed0226 0%, #b90024 100%);
}

.bg-gradient-secondary {
    background: linear-gradient(75.07deg, #001a41 17.5%, #0e336c 105.9%);
}

.bg-gradient-banner01 {
    background: linear-gradient(79.31deg, #cd0a45 62.91%, #fd2b77 101.75%);
}

.bg-gradient-banner02 {
    background: linear-gradient(76.33deg, #ed0226 52.23%, #fda22b 72.94%), #b90024;
}

.bg-gradient-baner03 {
    background: linear-gradient(76.81deg, #b90024 15.71%, #ff0025 68.97%, #fd195e 94.61%);
}

/* text color */
.text-tritary {
    color: #ff0025;
}

.text-valid {
    color: #008e53;
}

.text-info {
    color: #0050ae;
}

.text-error {
    color: #bc1d42;
}

.text-warning {
    color: #d9801f;
}

.text-warning02 {
    color: #fda22b;
}

.text-primary {
    color: #001a41;
}

.text-secondary {
    color: #4e5764;
}

.text-disable {
    color: #b3bac6;
}

.text-white {
    color: #ffffff;
}

/* Link Text */
.link-text {
    background-color: #0050ae;
}

/* icon color */
.icon-primary {
    color: #ff0025;
}

.icon-secondary {
    color: #001a41;
}

.icon-white {
    color: #ffffff;
}

.icon-disable {
    color: #4e5764;
}

/* System Icon */
.systemIcon-valid {
    color: #008e53;
}

.systemIcon-info {
    color: #0050ae;
}

.systemIcon-error {
    color: #bc1d42;
}

.systemIcon-warning {
    color: #fda22b;
}

.systemIcon-disableText {
    color: #b3bac6;
}

.systemIcon-disableBg {
    background-color: #edecf0;
}

/* Divider */
.divider-primary {
    background-color: #ebeeef;
}

/* Border */
.borderStroke-primary {
    border-color: #ccd1d9;
}

.borderStroke-warning {
    border-color: #fed27f;
}

.borderStroke-warning02 {
    border-color: #f4837d;
}

.borderStroke-error02 {
    border-color: #ff0025;
}

.borderStroke-valid {
    border-color: #008E53;
}

.borderStroke-info {
    border-color: #94CFF6;
}

.borderStroke-info02 {
    border-color: #0050AE;
}

.borderStroke-error {
    border-color: #bc1d42;
}

.borderStroke-transparent {
    border-color: #ffffff;
}

.borderStroke-grey {
    border-color: #CCCFD3;
}

/* Brand Shade */
.shade-primary0 {
    background-color: #FFF5F6;
}

.shade-primary100 {
    background-color: #FFEBEE;
}

.shade-primary200 {
    background-color: #FFCCD3;
}

.shade-primary300 {
    background-color: #FF99A8;
}

.shade-primary400 {
    background-color: #FF3351;
}

.shade-primary500 {
    background-color: #FF0025;
}

.shade-primary600 {
    background-color: #E50021;
}

.shade-primary700 {
    background-color: #C2001C;
}

.shade-primary800 {
    background-color: #940015;
}

.shade-primary900 {
    background-color: #66000F;
}

.shade-secondary0 {
    background-color: #FCFDFD;
}

.shade-secondary100 {
    background-color: #F9F9FA;
}

.shade-secondary200 {
    background-color: #F1F1F4;
}

.shade-secondary300 {
    background-color: #DFE2E7;
}

.shade-secondary400 {
    background-color: #B3BAC6;
}

.shade-secondary500 {
    background-color: #8C99AC;
}

.shade-secondary600 {
    background-color: #334867;
}

.shade-secondary700 {
    background-color: #001A41;
}

.shade-secondary800 {
    background-color: #000E2E;
}

.shade-secondary900 {
    background-color: #00071F;
}

/* Semantic */
.semantic-valid0 {
    background-color: #F2FDF4;
}

.semantic-valid100 {
    background-color: #EDFCF0;
}

.semantic-valid200 {
    background-color: #9AEEAB;
}

.semantic-valid300 {
    background-color: #0FD277;
}

.semantic-valid400 {
    background-color: #00B86B;
}

.semantic-valid500 {
    background-color: #008E53;
}

.semantic-valid600 {
    background-color: #007545;
}

.semantic-valid700 {
    background-color: #005C36;
}

.semantic-valid800 {
    background-color: #004227;
}

.semantic-valid900 {
    background-color: #00331E;
}

.semantic-info0 {
    background-color: #F7FCFF;
}

.semantic-info100 {
    background-color: #E9F6FF;
}

.semantic-info200 {
    background-color: #94CFF6;
}

.semantic-info300 {
    background-color: #5CA8E6;
}

.semantic-info400 {
    background-color: #3381CE;
}

.semantic-info500 {
    background-color: #0050AE;
}

.semantic-info600 {
    background-color: #003D95;
}

.semantic-info700 {
    background-color: #002D7D;
}

.semantic-info800 {
    background-color: #002064;
}

.semantic-info900 {
    background-color: #001653;
}

.semantic-warning0 {
    background-color: #FEFBF1;
}

.semantic-warning100 {
    background-color: #FEF3D4;
}

.semantic-warning200 {
    background-color: #FEE5AA;
}

.semantic-warning300 {
    background-color: #FED27F;
}

.semantic-warning400 {
    background-color: #FDC05F;
}

.semantic-warning500 {
    background-color: #FDA22B;
}

.semantic-warning600 {
    background-color: #D9801F;
}

.semantic-warning700 {
    background-color: #B66215;
}

.semantic-warning800 {
    background-color: #92470D;
}

.semantic-warning900 {
    background-color: #793408;
}

.semantic-error0 {
    background-color: #FEEFEB;
}

.semantic-error100 {
    background-color: #FDDDD4;
}

.semantic-error200 {
    background-color: #FBB5A9;
}

.semantic-error300 {
    background-color: #F4837D;
}

.semantic-error400 {
    background-color: #E95B61;
}

.semantic-error500 {
    background-color: #DB2941;
}

.semantic-error600 {
    background-color: #BC1D42;
}

.semantic-error700 {
    background-color: #9D1440;
}

.semantic-error800 {
    background-color: #7F0D3C;
}

.semantic-error900 {
    background-color: #690739;
}

/* Semantic */
.shade-neutral0 {
    background-color: #FFFFFF;
}

.shade-neutral100 {
    background-color: #FAFAFB;
}

.shade-neutral200 {
    background-color: #E9E8ED;
}

.shade-neutral300 {
    background-color: #CCCFD3;
}

.shade-neutral400 {
    background-color: #99A0A7;
}

.shade-neutral500 {
    background-color: #66707A;
}

.shade-neutral600 {
    background-color: #4E5764;
}