.tsel_shadow {
    box-shadow: 0px 4px 4px rgba(158, 158, 158, 0.25) !important;
}

.shadow-high {
    box-shadow: 0px 0px 4px rgba(158, 158, 158, 0.2);
}

.shadow-low {
    box-shadow: 0px 2px 2px rgba(158, 158, 158, 0.2);
}

.modal-shadow {
    box-shadow: 0px 4px 12px rgba(25, 49, 83, 0.2);
}

.dialogs-shadow {
    box-shadow: 0px 4px 8px rgba(25, 49, 83, 0.2);
}

