/* 2px spacing */

.m-2 {
    margin: 2px !important;
}

.mx-2 {
    margin: 0px 2px !important;
}

.my-2 {
    margin: 2px 0px !important;
}

.ml-2 {
    margin-left: 2px !important;
}

.mr-2 {
    margin-right: 2px !important;
}

.mt-2 {
    margin-top: 2px !important;
}

.mb-2 {
    margin-bottom: 2px !important;
}

/* 4px spacing */

.m-4 {
    margin: 4px !important;
}

.mx-4 {
    margin: 0px 4px !important;
}

.my-4 {
    margin: 4px 0px !important;
}

.ml-4 {
    margin-left: 4px !important;
}

.mr-4 {
    margin-right: 4px !important;
}

.mt-4 {
    margin-top: 4px !important;
}

.mb-4 {
    margin-bottom: 4px !important;
}

/* 8px spacing */

.m-8 {
    margin: 8px !important;
}

.mx-8 {
    margin: 0px 8px !important;
}

.my-8 {
    margin: 8px 0px !important;
}

.ml-8 {
    margin-left: 8px !important;
}

.mr-8 {
    margin-right: 8px !important;
}

.mt-8 {
    margin-top: 8px !important;
}

.mb-8 {
    margin-bottom: 8px !important;
}

/* 12px spacing */

.m-12 {
    margin: 12px !important;
}

.mx-12 {
    margin: 0px 12px !important;
}

.my-12 {
    margin: 12px 0px !important;
}

.ml-12 {
    margin-left: 12px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

.mt-12 {
    margin-top: 12px !important;
}

.mb-12 {
    margin-bottom: 12px !important;
}

/* 16px spacing */

.m-16 {
    margin: 16px !important;
}

.mx-16 {
    margin: 0px 16px !important;
}

.my-16 {
    margin: 16px 0px !important;
}

.ml-16 {
    margin-left: 16px !important;
}

.mr-16 {
    margin-right: 16px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

/* 20px spacing */

.m-20 {
    margin: 20px !important;
}

.mx-20 {
    margin: 0px 20px !important;
}

.my-20 {
    margin: 20px 0px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-20 {
    margin-right: 20px !important;
}

.mt-20 {
    margin-top: 20px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

/* 24px spacing */

.m-24 {
    margin: 24px !important;
}

.mx-24 {
    margin: 0px 24px !important;
}

.my-24 {
    margin: 24px 0px !important;
}

.ml-24 {
    margin-left: 24px !important;
}

.mr-24 {
    margin-right: 24px !important;
}

.mt-24 {
    margin-top: 24px !important;
}

.mb-24 {
    margin-bottom: 24px !important;
}

/* 28px spacing */

.m-28 {
    margin: 28px !important;
}

.mx-28 {
    margin: 0px 28px !important;
}

.my-28 {
    margin: 28px 0px !important;
}

.ml-28 {
    margin-left: 28px !important;
}

.mr-28 {
    margin-right: 28px !important;
}

.mt-28 {
    margin-top: 28px !important;
}

.mb-28 {
    margin-bottom: 28px !important;
}

/* 32px spacing */

.m-32 {
    margin: 32px !important;
}

.mx-32 {
    margin: 0px 32px !important;
}

.my-32 {
    margin: 32px 0px !important;
}

.ml-32 {
    margin-left: 32px !important;
}

.mr-32 {
    margin-right: 32px !important;
}

.mt-32 {
    margin-top: 32px !important;
}

.mb-32 {
    margin-bottom: 32px !important;
}

/* 2px padding */

.p-2 {
    padding: 2px !important;
}

.px-2 {
    padding: 0px 2px !important;
}

.py-2 {
    padding: 2px 0px !important;
}

.pl-2 {
    padding-left: 2px !important;
}

.pr-2 {
    padding-right: 2px !important;
}

.pt-2 {
    padding-top: 2px !important;
}

.pb-2 {
    padding-bottom: 2px !important;
}

/* 4px padding */

.p-4 {
    padding: 4px !important;
}

.px-4 {
    padding: 0px 4px !important;
}

.py-4 {
    padding: 4px 0px !important;
}

.pl-4 {
    padding-left: 4px !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.pt-4 {
    padding-top: 4px !important;
}

.pb-4 {
    padding-bottom: 4px !important;
}

/* 8px padding */

.p-8 {
    padding: 8px !important;
}

.px-8 {
    padding: 0px 8px !important;
}

.py-8 {
    padding: 8px 0px !important;
}

.pl-8 {
    padding-left: 8px !important;
}

.pr-8 {
    padding-right: 8px !important;
}

.pt-8 {
    padding-top: 8px !important;
}

.pb-8 {
    padding-bottom: 8px !important;
}

/* 12px padding */

.p-12 {
    padding: 12px !important;
}

.px-12 {
    padding: 0px 12px !important;
}

.py-12 {
    padding: 12px 0px !important;
}

.pl-12 {
    padding-left: 12px !important;
}

.pr-12 {
    padding-right: 12px !important;
}

.pt-12 {
    padding-top: 12px !important;
}

.pb-12 {
    padding-bottom: 12px !important;
}

/* 16px padding */

.p-16 {
    padding: 16px !important;
}

.px-16 {
    padding: 0px 16px !important;
}

.py-16 {
    padding: 16px 0px !important;
}

.pl-16 {
    padding-left: 16px !important;
}

.pr-16 {
    padding-right: 16px !important;
}

.pt-16 {
    padding-top: 16px !important;
}

.pb-16 {
    padding-bottom: 16px !important;
}

/* 20px padding */

.p-20 {
    padding: 20px !important;
}

.px-20 {
    padding: 0px 20px !important;
}

.py-20 {
    padding: 20px 0px !important;
}

.pl-20 {
    padding-left: 20px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

.pt-20 {
    padding-top: 20px !important;
}

.pb-20 {
    padding-bottom: 20px !important;
}

/* 24px padding */

.p-24 {
    padding: 24px !important;
}

.px-24 {
    padding: 0px 24px !important;
}

.py-24 {
    padding: 24px 0px !important;
}

.pl-24 {
    padding-left: 24px !important;
}

.pr-24 {
    padding-right: 24px !important;
}

.pt-24 {
    padding-top: 24px !important;
}

.pb-24 {
    padding-bottom: 24px !important;
}

/* 28px padding */

.p-28 {
    padding: 28px !important;
}

.px-28 {
    padding: 0px 28px !important;
}

.py-28 {
    padding: 28px 0px !important;
}

.pl-28 {
    padding-left: 28px !important;
}

.pr-28 {
    padding-right: 28px !important;
}

.pt-28 {
    padding-top: 28px !important;
}

.pb-28 {
    padding-bottom: 28px !important;
}

/* 32px padding */

.p-32 {
    padding: 32px !important;
}

.px-32 {
    padding: 0px 32px !important;
}

.py-32 {
    padding: 32px 0px !important;
}

.pl-32 {
    padding-left: 32px !important;
}

.pr-32 {
    padding-right: 32px !important;
}

.pt-32 {
    padding-top: 32px !important;
}

.pb-32 {
    padding-bottom: 32px !important;
}