@import './color.scss';

.text-primary {
    @extend .text-primary;
}

.text-secondary {
    @extend .text-secondary;
}

.text-tertiary {
    @extend .text-tritary;
}

.text-info {
    @extend .text-info;
}

.text-disable {
    @extend .text-disable;
}

.bg-primary {
    @extend .bg-primary;
}

.btn-text-primary {
    @extend .text-white;
}

.bg-secondary {
    @extend .bg-secondary;
}

.bg-white {
    @extend .bg-white;
}

.btn-text-secondary {
    @extend .text-tritary;
}

.btn-border-secondary {
    @extend .semantic-error700;
}

.bg-disabled {
    @extend .bg-disable01;
}