/* TypeScale */
h1 {
    font-size: 44px;
    font-weight: 700;
    line-height: 56px;
}

h2 {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
}

h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
}

h4 {
    font-size: 24px;
    font-weight: 700;
    line-height: 40px;
}

h5 {
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
}

h6 {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}

.title-bold {
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

.title-regular {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.body01-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.body01-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.body01-capsbold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
}

.body01-capsregular {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}

.strike-number {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-decoration-line: line-through;
}

.body02-bold {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
}

.body02-regular {
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.body03-bold {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
}

.body03-regular {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.label-bold {
    font-size: 10px;
    font-weight: 600;
    line-height: 16px;
}

.label-regular {
    font-size: 10px;
    font-weight: 400;
    line-height: 16px;
}