@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';
@import '../../styles/shadow.scss';

ul.breadcrumb li {
    display: inline;
    font-size: 18px;
}

ul.breadcrumb li+li:before {
    padding-left: 4px;
    content: "/\00a0";
    @extend .text-secondary;
}

ul.breadcrumb li a {
    text-decoration: none;
    @extend .text-secondary;
}

ul.breadcrumb li a:hover, li a:hover {
    cursor: pointer;
    text-decoration: none;
    @extend .bg-disable01;
}

.breadcrumb-active-menu {
    @extend .text-secondary;
}

$tooltip-text-color: white;
$tooltip-background-color: black;
$tooltip-margin: 67px;
$tooltip-margin-fix: 75px;
$tooltip-arrow-size: 10px;

.tooltip-tip {
    position: absolute;
    border-radius: 12px;
    top: 30px;
    left: auto;
    transform: translateX(0%);
    padding: 24px 32px;
    @extend .text-primary;
    @extend .bg-white;
    @extend .shadow-high;
    z-index: 100;
    width: auto;
    white-space: nowrap;
    display: flex;
    height: max-content;
    flex-direction: column;
}

.tooltip-tip::before {
    content: ' ';
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 18px;
    position: absolute;
    pointer-events: none;
    border-width: $tooltip-arrow-size;
    margin-left: calc($tooltip-arrow-size * -1);
}

/* Absolute positioning */
.tooltip-tip.bottom {
    bottom: calc($tooltip-margin * -1);
}
/* CSS border triangles */
.tooltip-tip.bottom::before {
    bottom: 100%;
    border-bottom-color: white;
    border-color: transparent transparent white;
    -webkit-filter: drop-shadow(0px -3px 2px rgba(158, 158, 158, 0.2));
    filter: drop-shadow(0px -3px 2px rgba(158, 158, 158, 0.2));
}

.tooltip-tip-fixed {
    border-radius: 4px;
    left: auto;
    transform: translateX(0%);
    padding: 24px 32px;
    @extend .text-primary;
    @extend .bg-white;
    @extend .shadow-high;

    z-index: 100;
    width: max-content;
    margin-top: 5px;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
}

.tooltip-tip-fixed::before {
    content: ' ';
    left: 50%;
    border: solid transparent;
    height: 0;
    width: 18px;
    position: absolute;
    pointer-events: none;
    border-width: $tooltip-arrow-size;
    margin-left: calc($tooltip-arrow-size * -1);
}

/* Absolute positioning */
.tooltip-tip-fixed.bottom {
    bottom: calc($tooltip-margin-fix * -1);
}
/* CSS border triangles */
.tooltip-tip-fixed.bottom::before {
    bottom: 100%;
    border-bottom-color: white;
    border-color: transparent transparent white;
    -webkit-filter: drop-shadow(0px -3px 2px rgba(158, 158, 158, 0.2));
    filter: drop-shadow(0px -3px 2px rgba(158, 158, 158, 0.2));
}

