@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.input-container {
    width: 100%;
    @extend .bg-white;
}

.input-container span {
    @extend .text-tritary;
}

.input-style {
    width: 100%;
    margin-top: 8px;
    padding: 8px 42px 4px 12px;
    border: 1px solid #CCCFD3;
    border-radius: 8px;
    font-size: 14px;
    min-height: 128px;
    resize: none;
}

.input-error {
    border: 1px solid #BC1D42;
}

.input-success {
    border: 1px solid #008E53;
}

.input-style:disabled {
    @extend .text-disable;
    @extend .systemIcon-disableBg;
}

.input-style:focus {
    border: 1px solid #0050AE;
}

.input-style::placeholder {
    @extend .text-disable;
}

.input-container .error-text {
    @extend .text-error;
}

.input-container .valid-text {
    @extend .text-valid;
}

.reset-button {
    position: absolute;
    top: 20px;
    right: 14px;
    height: 22px;
    width: 22px;
}
