@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  @extend .bg-white;
  width: 20px;
  height: 20px;
  border: 2px solid #001A41;
  border-radius: 6px;
  display: grid;
  place-content: center;
  padding: 2px;
}

input[type="checkbox"]::before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 6px;
}

input[type="checkbox"]:checked::before {
  background-image: url(../../assets/icons/ico_check.svg);
  background-position: center;
  @extend .semantic-info500;
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled {
  opacity: .5;
}

input[type="checkbox"]:hover {
  @extend .borderStroke-info02;
}

.container-checkbox {
  display: inline-block;
  white-space: nowrap;
  text-align: left;
}

.checkbox-left input {
  float: right;
}

.checkbox-right input {
  float: left;
}

.container-checkbox label {
  cursor: pointer;
  position: relative;
  padding-left: 8px;
  padding-right: 8px;
}

/* ripple
 */
.container-checkbox label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  margin-left: -10px;
  margin-top: -9px;
  @extend .semantic-info500;
  border-radius: 100%;
  opacity: .15;
  transform: scale(0);
}

@keyframes ripple {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes rippleDuplicate {
  0% {
    transform: scale(0);
  }
  20% {
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1);
  }
}

.container-checkbox input + label:after {
  animation: ripple 1s ease-out;
}

/* to re-trigger the animation with just CSS, we need to duplicate the keyframes
 */
.container-checkbox input:checked + label:after {
  animation-name: rippleDuplicate;
}

/* fixes initial animation run, without user input, on page load.
 */
.container-checkbox + label:after {
  visibility: hidden;
}

.container-checkbox input:focus + label:after {
  visibility: visible;
}
