@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.tab-container {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: column;
    align-items: center;
    padding: 12px 8px;
    position: relative;
    border-bottom: 1px solid #EBEEEF;
    height: 100%;
}

.tab-text {
    max-width: 100px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tab-icon {
    width: 24px;
    height: 24px;
    margin-bottom: 4px;
}

.indicator {
    @extend .semantic-info500;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.custom-indicator {
    @extend .tsel-primary;
    width: 100%;
    height: 4px;
    border-radius: 4px 4px 0px 0px;
    position: absolute;
    left: 0;
    bottom: 0;
}