@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.snackbar-tsel {
    display: flex;
    text-transform: uppercase;
}

.snackbar-tsel-general {
    @extend .text-white;
    @extend .tsel-secondary;
}

.snackbar-tsel-warning {
    @extend .text-primary;
    @extend .semantic-warning500;
}

.snackbar-tsel-textbutton {
    margin-left: 48px;
    cursor: pointer;
}

#snackbar {
    visibility: hidden;
    text-align: center;
    padding: 12px 16px;
    position: fixed;
    z-index: 1;
    max-width: 826px;
    bottom: 30px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: 0.5s fadein, fadeout;
    animation: 0.5s fadein, fadeout;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@media only screen and (min-width: 360px) and (max-width: 639px) {
    #snackbar {
        max-width: 360px;
    }
    .snackbar-tsel-textbutton {
        margin-left: 16px;
    }
}