@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.callout-tsel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    border-radius: 12px;
    padding: 12px;
    max-width: 328px;
    border: 1px solid;

    &.info {
        @extend .bg-info;
        @extend .borderStroke-info;    
    }

    &.warning {
        @extend .bg-warning;
        @extend .borderStroke-warning;    
    }
}

.callout-tsel-icon {
    width: 20px;
    height: 20px;
}

.callout-tsel-text {
    margin-left: 8px;
    margin-right: 8px;
    max-width: 248px;
    @extend .text-primary;
}