@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.input-container {
    width: 100%;
    @extend .bg-white;
}

.input-container span {
    @extend .text-tritary;
}

.input-style {
    width: 100%;
    margin-top: 8px;
    padding: 10px 12px;
    border: 1px solid #CCCFD3;
    border-radius: 8px;
    font-size: 14px;
}

.input-error {
    border: 1px solid #BC1D42;
}

.input-success {
    border: 1px solid #008E53;
}

.input-style:disabled {
    @extend .text-disable;
    @extend .systemIcon-disableBg;
}

.input-style:focus {
    border: 1px solid #0050AE;
}

.input-loading {
    width: 100%;
    margin-top: 8px;
    padding: 10px 48px 10px 12px;
    border-radius: 8px;
    border-width: 1px;
    font-size: 14px;
    @extend .shade-neutral300;
    background: url('../../assets/icons/ico_loader.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-right: 12px;
    background-size: 24px;
}

.input-style::placeholder,
.input-loading::placeholder,
.input-password::placeholder {
    @extend .text-disable;
}

.input-container .error-text {
    @extend .text-error;
}

.input-container .valid-text {
    @extend .text-valid;
}

.error-text {
    @extend .text-error;
}

.valid-text {
    @extend .text-valid;
}

.password-button {
    position: absolute;
    top: 18px;
    right: 14px;
    height: 22px;
    width: 22px;
}
