@import '../../styles/theme.scss';
@import '../../styles/typography.css';
@import '../../styles/color.scss';

.banner-tsel-brand-sm {
    border-radius: 10px;
    width: 120px;
    height: 120px;
}

.banner-tsel-brand-lg {
    border-radius: 8px;
    width: 180px;
    height: 180px;
}

.banner-tsel-rectangle-sm {
    width: 360px;
    height: 180px;
    border-radius: 20px 20px 20px 0px;
}

.banner-tsel-rectangle-md {
    width: 400px;
    height: 224px;
    border-radius: 20px 20px 20px 0px;
}

.banner-tsel-rectangle-lg {
    width: 554px;
    height: 310px;
    border-radius: 20px 20px 20px 0px;
}

.banner-tsel-square-sm {
    width: 360px;
    height: 360px;
}

.banner-tsel-square-lg {
    width: 560px;
    height: 560px;
}